/*element principal en relatif pour permettre aux elements absolus d'etre positionnes*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgb(172, 184, 219);
    font-weight: 600;
    font-family: 'Josefin Sans';
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
}

body::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 130%;
    background-image: url("../assets/background_sortie.jpg");
    filter: blur(3px);
}

.center {
    margin-left:25%;
    margin-top: 10%;
    width: 50%;
    height: 80%;
    text-align: justify;
    flex-grow: 2;
    z-index: 1000;
}

h1, h2  {
    text-align: center;
}

.tryagain {
    margin-top: 5%;
}

.tryagain a, .center a{
    font-weight: 800;
    font-size: 1.3em;
    color: rgb(14, 227, 14);
    text-align: center;
    margin-left: 40%;
}

footer {
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    color: rgb(135,135,135);
    text-align: center;
    font-size: 0.7em;
    z-index: 1000;
}

